# Ignore project files in the root
/*.sln

# Standard binary files
*.lib
*.idb
*.a
*.dll
*.exe
*.png
*.bz2
*.psd
*.gif
*.zip
*.tga
*.dylib
*.gz
*.so
*.jar
*.mp4
*.pak
*.bmp
*.obj
*.pdb

# Ignore binaries
**/Binaries/**

# Always exclude content folders
**/Content/**

# Derived data cache is never checked in
**/DerivedDataCache/**

# Ignore intermediates
**/Intermediate/**

# Ignore any saved local files
**/Saved/**